* {
  display: block;
}

body {
  background-color: #999999;
}

.container {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.box {
  background-color: #000000;
  height: 300px;
  margin: 50px;
}
