* {
  display: block;
  padding: 50px;
}

body {
  background-color: #000000;
}

.box {
  background-color: #ff0000;
  margin-left: auto;
  margin-right: auto;
}

.green {
  background-color: #00ff00;
}
